.user-list-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-list-wrapper h2 {
  margin: 12px 0;
}

.user-link {
  margin: 10px;
  text-decoration: none;
  font-size: 1.2em;
  color: #4a484b;
}
