.console-example-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.console-example-container h2 {
  margin-bottom: 20px;
}

.console-example-container button {
  width: max-content;
  padding: 5px 10px;
  margin-bottom: 20px;
}
