.console-example-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}

.console-example-wrapper h2 {
  margin-bottom: 20px;
}

.console-example-wrapper button {
  width: max-content;
  padding: 5px 10px;
  margin-bottom: 20px;
}
