.nav-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
}

.nav-wrapper > a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 120px;
  height: 90px;
  text-decoration: none;
  font-size: 1.5rem;
  color: #000000;
  background-color: #fff894;
  border-radius: 20px;
}

/* .nav-wrapper > .active {
  background-color: #8bdde2;
} */

.nav-wrapper > .nav-link-active {
  background-color: #8bdde2;
}
